/**
 * Tailwind CSS entry point
 *
 * Note: The @layer base will be stripped out by postcss-remove-base-layer plugin
 * to prevent global CSS pollution in consuming applications.
 */

@import 'tailwindcss';
